  *{
    margin: 0px;
    padding: 0px;
  }
  body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.nav-container{
  background-color: rgb(148, 196, 196)
  
}
.nav-logo{
height:100px;
width: 100px;
border-radius:5px;
}
.logo-title{
  display: flex;
  justify-content: space-around;
  gap: 15px;
  align-items: center;
  padding-left: 0px;
}
  nav {display: flex;
      justify-content: space-between;
      margin: 0px 200px;
      align-items: center;
  }
  nav>ul{
    display: flex;
    align-items: center;
}

  nav li{
    list-style: none;
    margin-right: 50px;
  }

  nav a {
    text-decoration: none;
    color: teal;
}

.banner-container {
  background-image: url("images/320695836_5907553112663724_8004835940462316619_n.jpg"),
  linear-gradient(rgba(91, 128, 81, 0.8),rgba(73, 184, 185, 0.7));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.banner-content {
  max-width: 500px;
}

.banner-greeting {
  font-size: 45px;
  color: rgb(85, 74, 95);
  margin-bottom: 0;
}

.banner-title {
  font-size: 85px;
}
.banner-description{font-size: medium;
  font-family:'Courier New', Courier, monospace;
  font-style: italic;
  color: rgb(37, 36, 37);

}
.profile-pic {
  width: 300px;
  border-radius: 25px;
}
.banner-pic{
padding-bottom: 0px;
}